html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  
  body {
    font-family: Arial, sans-serif;
    color: #e2e2e2;
    background: #151515;
    overflow: hidden;
  }
  
  #main {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    height: 100%;
  }

#burgerMenuWatermark{  
  color: #fff;
  transition: all ease 0.7s;
  text-shadow: 0px 0px 7px white;
  animation: pulse 10s infinite;
}

@keyframes pulse {
  0% {color:#fff; text-shadow: 0px 0px 7px #fff;}
  50% {color:#444;text-shadow: 0px 0px 0px #4444;}
  100% {color:#fff;text-shadow: 0px 0px 7px #fff;}
}

::-webkit-scrollbar {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 1em;
  width: 0.8em;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.2));
  border-radius: 1em;
}

::-moz-scrollbar {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 1em;
  width: 0.8em;
}
::-moz-scrollbar-thumb {
  background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.2));
  border-radius: 1em;
}

::-o-scrollbar {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 1em;
  width: 0.8em;
}
::-o-scrollbar-thumb {
  background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.2));
  border-radius: 1em;
}