html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  
  body {
    font-family: Arial, sans-serif;
    color: #e2e2e2;
    background: #151515;
    overflow: hidden;
  }
  
  #main {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    height: 100%;
  }