html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  
  body {
    font-family: Arial, sans-serif;
    color: #e2e2e2;
  }
  
  #main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #272727;
    width: inherit;
    height: inherit;
  }